[submodule "Cpp-Cross-Platform/Toolchains/polly"]
	path = Cpp-Cross-Platform/Toolchains/polly
	url = https://github.com/ruslo/polly.git
[submodule "ObjC-Swift-Interop/SwiftLibrary"]
	path = ObjC-Swift-Interop/SwiftLibrary
	url = https://github.com/m039/SwiftFooBarLibrary.git
